.conatiner{
  width: 1400px;
  margin: 0 auto;
}

*{
  margin: 0;
  padding: 0;
  
}



header{
  display: flex;
  align-items: center;
}

header ul{
  display: flex;
  list-style: none;
}

header ul li{
  margin: 20px;
}

.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
}

.wrapper{
  position: sticky;
  top: 0;
  right: 0;

}

.progressbar{
  width: 100%;
  height: 12px;
  background: red;
}

.prog__main{
  width: 0;
  height: 12px;
  background-color: blue;
}